<div class="container">
    <div class="body d-md-flex align-items-center justify-content-between">
        <div class="box-1 mt-md-0 mt-5">
            <img src="https://previews.123rf.com/images/marigisina/marigisina1912/marigisina191200015/135431987-farmers-products-online-ordering-and-delivery-banner-with-woman-character-shopping-food-in-mobile-ap.jpg"
                class="" alt="">
        </div>
        <div class=" box-2 d-flex flex-column h-100">
            <div class="mt-5">
                <p class="mb-1 h-1">Create Account.</p>
                <p class="text-muted mb-2">Share your thouhts with the world form today.</p>
                <div class="d-flex flex-column ">
                    <p class="text-muted mb-2">Continue with...</p>
                  
                    <div class="form-container">
                    <form [formGroup]="registerForm" >
                        <div class="form-group form-fg">
                            <input formControlName="uname" type="text" name="name" class="input-text" placeholder="Username">
                            <!-- <i class="fa fa-envelope"></i> -->
                        </div>
                        <div *ngIf="this.registerForm.get('uname')?.errors && this.registerForm.get('uname')?.touched " style="color: red;">Invalid Username</div>
                        <div class="form-group form-fg">
                            <input formControlName="email" type="email" name="email" class="input-text" placeholder="Email Address">
                            <!-- <i class="fa fa-envelope"></i> -->
                        </div>
                        <div *ngIf="this.registerForm.get('email')?.errors && this.registerForm.get('email')?.touched " style="color: red;">Invalid Email</div>

                        <div class="form-group form-fg">
                            <input formControlName="pswd" type="password" name="password" class="input-text" placeholder="Password">
                            <!-- <i class="fa fa-unlock-alt"></i> -->
                        </div>
                        <div *ngIf="this.registerForm.get('pswd')?.errors && this.registerForm.get('pswd')?.touched " style="color: red;">Invalid password</div>

                        <!-- <div class="checkbox clearfix">
                            <a href="#">Forgot Password</a>
                        </div> -->
                        <div class="form-group mt-2">
                            <button type="submit" (click)="register()" class="btn-md btn-fg btn-block">SIGN IN </button>
                        </div>
                    </form>
                </div>




                    <div class="mt-3">
                        <p class="mb-0 text-muted">Already have an account?</p>
                        <a routerLink="" >Log in</a>
                    </div>
                </div>
            </div>
            <div class="mt-auto">
                <p class="footer text-muted mb-0 mt-md-0 mt-4">By register you agree with our
                    <span class="p-color me-1">terms and conditions</span>and
                    <span class="p-color ms-1">privacy policy</span>
                </p>
            </div>
        </div>
        <span class="fas fa-times"></span>
    </div>
</div>